/*style body */
body {
    background-image: url(images/PageBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   }
/*style container*/
   #container{
    width: 50%;
       color: white;
       margin-left: 25%;
       margin-right: 25%;
       margin-top: 18%;
       font-family: 'Permanent Marker', cursive;
       font-size: x-large;
       
   }
   /*style paragraph*/
p{
    
    display: flex;
    text-align: center;
    margin-left: 10%;
}
/*style button*/
#clickme{
    display: flex;
    padding: 10px;
    margin-left: 40%;
    
}

/*style table*/
table {
   
    width: 40%;
    height: 30%;
    text-align: center;
    margin-top: 15%;
    margin-left: 29%;
   
    
  }
  /*style td and th*/
  table td, table th {
    padding: 4px 7px;
    border: 1px solid #ffffff;
  }

  /*style table body and  td*/
  table tbody td {
    font-size: 13px;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
 
  
  /*style thead*/
  table thead {
    background: #000000;
    
  }
  /*style thead th*/
  table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #E6E6E6;
    text-align: center;
    border-left: 1px solid #ffffff;
  }

  