/*style body */
body {
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    
    
   }
/*style container*/
   #container{
    width: 50%;
       color: white;
       margin-left: 25%;
       margin-right: 25%;
       margin-top: 18%;
       font-family: 'Permanent Marker', cursive ,Georgia, 'Times New Roman', Times, serif;
       font-size: x-large;
       
   }
   /*style paragraph*/
p{
    
    display: flex;
    text-align: center;
    margin-left: 10%;
}
/*style button*/
#clickme{
    display: flex;
    padding: 10px;
    margin-left: 40%;
    
}

/*style table*/
table {
   
    width: 40%;
    height: 30%;
    text-align: center;
    margin-top: 15%;
    margin-right: 25%;
    margin-left: 25%;
   
    
  }
  /*style td and th*/
  table td, table th {
    padding: 4px 7px;
    border: 1px solid #ffffff;
  }

  /*style table body and  td*/
  table tbody td {
    font-size: 13px;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
 
  
  /*style thead*/
  table thead {
    background: #000000;
    
  }
  /*style thead th*/
  table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #E6E6E6;
    text-align: center;
    border-left: 1px solid #ffffff;
  }

  /*style error*/
  #error{
   font-size: 60px;
    color: #ffff;
    position: absolute;
   
    margin-top: 15%;
}
  
/*Style greenboard*/
#greenboard{

  background-color: #106210;
  width: 700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: absolute;
    left: 10%;
    right: 10%;
    border-block-color: brown;
    
    border-width: 20px;
    border-color: #915827;
    border-style: ridge;
    top: 10%;
}